@media (max-width: 700px){
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        height: 100%;
        font-family: 'Amatic SC', cursive;
        font-size: 32px;
    }


}